.App {
  font-family: 'Roboto', sans-serif;
  background-color: #E5E5E5;
}

.Header {
  font-family: 'Cambo', serif;
  font-size: xx-large;
  color: red;
  background-color: #C4C4C4;
  padding: 16px;
}

.layout {
  display: flex;
}

.button {
  height: 64px;
  width: 192px;
  font-size: xx-large;
}

.button-primary {
  background-color: #6F85F4;
}

.button-disabled {
  background-color: #878787;
}

.button-refresh {
  background-color: #66A96D;
}

.button-secondary {
  background-color: #FFFFFF;
}

.button-secondary-sm {
  background-color: #FFFFFF;
  height: 32px;
  width: 128px;
  font-size: small;
}

.button-refresh {
  background-color: #66A96D;
}

label {
  font-size: small;
}

input {
  font-size: small;
  width: 100%
}

.flex-vertical {
  flex-direction: column;
}

.flex-horizontal {
  flex-direction: row;
}

.flex-horizontal-item {
  flex: 1;
}

.SyncStatus {
  background-color: #C4C4C4;
  padding: 8px;
  margin: 16px;
}

.SyncStatusItem {
  display: flex;
  justify-content: center;
  margin: 8px;
}

.DataAvailable {
  background-color: #878787;
  padding: 8px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
}

.DataAvailable-icon {
  padding: 0px 8px 0px 8px;
}

.OptionsPanel {
  padding: 16px;
  margin: 16px;
}

.Footer {
  display: flex;
  flex-direction: row;
  padding: 8px;
}

.footer-items {
  display: flex;
}

.footer-items-0 {
  align-items: flex-end;
}

.footer-items-1 {
  justify-content: flex-end;
}

.ProjectGithubLink {
  font-size: small;
  display: flex;
  flex: 1;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
}

.LinkToCavemanChess {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: small;
  justify-self: flex-end;
}

.DonateToTwicPanel {
  align-self: flex-end;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: small;
}

.SyncScreen-top-text {
  font-size: x-large;
  text-align: center;
}

.SyncScreen-files-area {
  position: relative;
  height: 65vh;
}

.SyncScreen-filename-space {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.SyncScreen-filename-container {
  display: flex;
  overflow: auto;
  flex-wrap: wrap;
}

.filename-item {
  padding: 2px;
  margin: 2px;
  height: 24px;
  width: 128px;
}

.selected {
  background-color: #6F85F4;
}

.unselected {
  background-color: #FFFFFF;
}

/* This is to globally disable the arrows from inputs */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-input-container {
  margin: 8px 0px 8px 0px;
}

.tooltip-anchor {
  float: right;
}

.InfoIcon {
  height: 16px;
}
